-----------------------------------------------
 */ /* Variable definitions 

 <Variable name="maincolor" description="Primary Color" type="color" default="#f1284e" value="#ff2a52"/>
<Variable name="maindarkcolor" description="Primary Dark Color" type="color" default="#19232d" value="#19232d"/>
-----------------------
*/
html,body,.section,.widget,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,figure{margin:0;padding:0}
html{overflow-x:hidden}
a{text-decoration:none;color:#000}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
table{border-collapse:separate;border-spacing:0}
caption,th,td{text-align:right;font-weight:normal}
blockquote:before,blockquote:after,q:before,q:after{content:""}
.quickedit,.home-link{display:none}
blockquote,q{quotes:"" ""}
sup{vertical-align:super;font-size:smaller}
code{font-family:'Courier New',Courier,monospace;font-size:12px;color:#272727}
::selection{background:transparent;text-shadow:#000 0 0 2px}
::-moz-selection{background:transparent;text-shadow:#000 0 0 2px}
::-webkit-selection{background:transparent;text-shadow:#000 0 0 2px}
::-o-selection{background:transparent;text-shadow:#000 0 0 2px}
a img{border:none}
ol,ul{padding:0;margin:0;text-align:right}
ol li{list-style-type:decimal;padding:0 0 5px}
ul li{list-style-type:disc;padding:0 0 5px}
ul ul,ol ol{padding:0}
#navbar-iframe,.navbar{height:0;visibility:hidden;display:none}
.Attribution,.feed-links,.post-footer-line.post-footer-line-1,.post-footer-line.post-footer-line-2,.post-footer-line.post-footer-line-3{display:none}
.item-control{display:none!important}
abbr.published.timeago{text-decoration:none}
.post-body a,.post-body a:link,.post-body a:visited{color:$maincolor;font-weight:bold}
h2.date-header,h4.date-header{display:none;margin:1.5em 0 .5em}
h1,h2,h3,h4,h5,h6{font-family:'neo',sans-serif;font-weight:400;color:#151515}
blockquote{padding:8px;background-color:#faebbc;border-top:1px solid #e1cc89;border-bottom:1px solid #e1cc89;margin:5px;background-image:url();background-position:top right;background-repeat:no-repeat;text-indent:23px}
blockquote p{display:block;background-image:url(http://3.bp.blogspot.com/-UjppXQI-ww0/U6X4IpheNiI/AAAAAAAAND0/PJhRvvhAWGU/s1600/closequote1.gif);background-repeat:no-repeat;background-position:bottom left}
img{max-width:100%;vertical-align:middle}
*{outline:0;transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease}
.item #blog-pager{display:none;height:0;opacity:0;visibility:hidden}
.widget iframe,.widget img{max-width:100%}
.status-msg-wrap{display:none}
a:hover{color:$maincolor}
body{color:#2e2e2e;font-family:neo;font-size:14px;font-weight:normal;line-height:21px;background-repeat:no-repeat;background-size:cover;background-attachment:fixed;background-position:center bottom;background-image:url(//3.bp.blogspot.com/-2LZz0E7Nsnw/WlivHtqfvfI/AAAAAAAAEg8/i303nvWo2sQtRFXYbBqp_yprAushZ2u-wCLcBGAs/s1600/box-background.jpg)}
#outer-wrapper{max-width:1180px;margin:30px auto;background-color:#FFF;box-shadow:0 0 0 1px rgba(0,0,0,0.05)}
.row{width:1150px}
#content-wrapper{margin:0 auto;padding:20px 0 40px;overflow:hidden}
#main-wrapper{float:right;width:68%;max-width:800px}
#sidebar-wrapper{float:left;width:30%;max-width:330px}
.top-bar{background:$maincolor}
.top-bar-wrapper{position:relative;overflow:hidden;min-height:40px;color:#fff;margin:0 auto}
.top-bar-social,.bottom-bar-social{float:left;padding:5px 0}
.bottom-bar-social{padding:0 0}
.top-bar-social li,.bottom-bar-social li{display:inline;padding:0;float:right;margin-left:5px;}
.top-bar-social .widget ul,.bottom-bar-social .widget ul{padding:0}
.top-bar-social .LinkList ul,.bottom-bar-social .LinkList ul{text-align:center}
.top-bar-social #social a{display:block;width:30px;height:30px;line-height:30px;font-size:12px;color:#fff;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;transition:background 0.3s linear;-moz-transition:background 0.3s linear;-webkit-transition:background 0.3s linear;-o-transition:background 0.3s linear}
.bottom-bar-social #social a{display:block;width:30px;height:30px;line-height:5px;font-size:15px;color:#fff;transition:color 0.3s linear;-moz-transition:color 0.3s linear;-webkit-transition:color 0.3s linear;-o-transition:color 0.3s linear;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%}
.top-bar-social #social a:before,.bottom-bar-social #social a:before{display:inline-block;font:normal normal normal 22px/1 FontAwesome;font-size:inherit;font-style:normal;font-weight:400;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.top-bar-social .bloglovin:before,.bottom-bar-social .bloglovin:before{content:"\f004"}
.top-bar-social .facebook:before,.bottom-bar-social .facebook:before{content:"\f09a"}
.top-bar-social .twitter:before,.bottom-bar-social .twitter:before{content:"\f099"}
.top-bar-social .gplus:before,.bottom-bar-social .gplus:before{content:"\f0d5"}
.top-bar-social .rss:before,.bottom-bar-social .rss:before{content:"\f09e"}
.top-bar-social .youtube:before,.bottom-bar-social .youtube:before{content:"\f167"}
.top-bar-social .skype:before,.bottom-bar-social .skype:before{content:"\f17e"}
.top-bar-social .stumbleupon:before,.bottom-bar-social .stumbleupon:before{content:"\f1a4"}
.top-bar-social .tumblr:before,.bottom-bar-social .tumblr:before{content:"\f173"}
.top-bar-social .vine:before,.bottom-bar-social .vine:before{content:"\f1ca"}
.top-bar-social .stack-overflow:before,.bottom-bar-social .stack-overflow:before{content:"\f16c"}
.top-bar-social .linkedin:before,.bottom-bar-social .linkedin:before{content:"\f0e1"}
.top-bar-social .dribbble:before,.bottom-bar-social .dribbble:before{content:"\f17d"}
.top-bar-social .soundcloud:before,.bottom-bar-social .soundcloud:before{content:"\f1be"}
.top-bar-social .behance:before,.bottom-bar-social .behance:before{content:"\f1b4"}
.top-bar-social .digg:before,.bottom-bar-social .digg:before{content:"\f1a6"}
.top-bar-social .instagram:before,.bottom-bar-social .instagram:before{content:"\f16d"}
.top-bar-social .pinterest:before,.bottom-bar-social .pinterest:before{content:"\f0d2"}
.top-bar-social .delicious:before,.bottom-bar-social .delicious:before{content:"\f1a5"}
.top-bar-social .codepen:before,.bottom-bar-social .codepen:before{content:"\f1cb"}
.top-bar-social .email:before,.bottom-bar-social .email:before{content:"\f0e0"}
.top-bar-social ul#social a:hover{color:$maindarkcolor;opacity:1}
.bottom-bar-social ul#social a:hover{color:$maincolor;opacity:1}
.top-bar-menu{float:right}
.top-menu ul{overflow:hidden;list-style:none;padding:0;margin:0}
.top-menu ul li{float:right;display:inline-block;list-style:none;padding:0}
.top-menu ul li a{padding:12px 16px;display:block;border:none!important;text-decoration:none;line-height:inherit;font-size:14px;font-weight:normal;color:#fff}
.top-menu ul li:first-child a{padding-right:0}
.selectnav{display:none}
#header-wrapper{background:#fff}
#header-wrappers{color:$maindarkcolor;padding:20px 0 20px;margin:0 auto}
#header-inner{background-position:right;background-repeat:no}
.headerright img{height:auto;margin:0 0 0}
.headerright h1,.headerright h1 a,.headerright h1 a:hover,.headerright h1 a:visited{font-family:'lefteous',cursive;color:#151515;font-size:55px;font-weight:bold;line-height:68px;margin:0;padding:0 0 5px;text-decoration:none;text-transform:uppercase}
.headerright h3{font-weight:400;margin:0;padding:0}
.headerright .description{color:#000000;font:normal 14px 'neo',sans-serif;margin:0;padding:10px 0;text-transform:uppercase;text-align:center}
.headerright{float:right;margin:0;padding:0;max-width:320px}
.headerleft{float:left;margin:0;padding:1px 0 0;width:730px}
.selectnav{display:none}
.tm-menu{font-weight:400;margin:0 auto;height:50px}
ul#nav{list-style:none;margin:0;padding:0}
#menu .widget{display:none}
#menu{height:50px;position:relative;text-align:center;z-index:15;margin:0 auto;background:$maindarkcolor;padding-left:50px}
.menu-wrap{margin:0 auto;position:relative}
#menu ul > li{position:relative;vertical-align:middle;display:inline-block;padding:0;margin:0}
#menu ul > li.hub-home{background:$maincolor}
#menu ul > li.hub-home a:before{content:"\f015";font-family:Fontawesome;text-align:center;margin-left:5px}
#menu ul > li:hover > a{}
#menu ul > li > a{color:#fff;font-size:14px;font-weight:600;line-height:50px;display:inline-block;text-transform:uppercase;text-decoration:none;letter-spacing:1px;margin:0;padding:0 12px;font-family:'neo',sans-serif}
#menu ul > li > ul > li:first-child > a{padding-right:12px}
#menu ul > li > ul{position:absolute;background:#4d4d4d;top:100%;right:0;min-width:180px;padding:0;z-index:99;margin-top:0;visibility:hidden;opacity:0;-webkit-transform:translateY(10px);-moz-transform:translateY(10px);transform:translateY(10px)}
#menu ul > li > ul > li > ul{position:absolute;top:0;right:180px;width:180px;background:#5d5d5d;z-index:99;margin-top:0;margin-right:0;padding:0;border-right:1px solid #6d6d6d;visibility:hidden;opacity:0;-webkit-transform:translateY(10px);-moz-transform:translateY(10px);transform:translateY(10px)}
#menu ul > li > ul > li{display:block;float:none;text-align:right;position:relative;border-bottom:1px solid;border-top:none;border-color:#8d8d8d}
#menu ul > li > ul > li:last-child{border:0}
#menu ul li.parent ul li:after,#menu ul li:last-child:after{display:none}
#menu ul > li:hover{background-color:$maincolor}
#menu ul > li > ul > li a{font-size:11px;display:block;color:#fff;line-height:35px;text-transform:uppercase;text-decoration:none;margin:0;padding:0 12px;border-left:0;border:0}
#menu ul > li.parent > a:after{content:'\f107';font-family:FontAwesome;float:left;margin-right:5px}
#menu ul > li:hover > ul,#menu ul > li > ul > li:hover > ul{opacity:1;visibility:visible;-webkit-transform:translateY(0);-moz-transform:translateY(0);transform:translateY(0)}
#menu ul > li > ul > li.parent > a:after{content:'\f105';float:left}
#menu ul ul{}
.ty-ran-yard{position:absolute;left:0;top:0;z-index:99}
.ty-ran-yard span{list-style:none}
.ty-ran-yard a.ran-sym{background-color:$maincolor;cursor:pointer;display:block;height:50px;text-align:center;position:relative;left:0;top:0;width:50px;border-radius:0;box-sizing:border-box}
.ty-ran-yard a.ran-sym:hover{background-color:#6d6d6d}
.ty-ran-yard a.ran-sym:before{color:#fff;content:'\f074';font-family:FontAwesome;font-size:16px;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;line-height:50px}
.news-tick-wrap{margin:15px 0 0}
.news-tick-bar{margin:0 auto;position:relative;background-color:#f7f7f7}
.ticker .title{float:right;height:40px;font-size:15px;line-height:40px;font-weight:400;overflow:hidden;padding:0 10px;color:#fff;font-family:'neo',sans-serif;text-transform:uppercase;background:$maindarkcolor}
.ticker .title .fa{margin-left:10px;background:#fff;padding:5px 6px;border-radius:100%;color:$maincolor}
.ticker .widget-content{height:40px;box-sizing:border-box;overflow:hidden;padding:0 4px}
.ticker .widget-content li{float:right;margin-right:30px;display:inline-block;height:38px;line-height:38px;padding:0}
.ticker .widget{height:40px;overflow:hidden}
.tk-thumb{float:right;margin:4px 0 0 10px}
.tk-img{position:relative;display:block;width:35px;height:30px;overflow:hidden}
.ticker .post-tag{display:inline-block;background-color:$maincolor;color:#fff;margin-left:10px;font-weight:400;border-radius:2px;height:18px;line-height:18px;padding:0 6px;font-size:10px;text-transform:uppercase;position:relative;margin-top:10px;float:right}
.ticker .tyard-title{font-size:14px;font-weight:400;display:inline-block}
.ticker .tyard-title a{color:$darkcolor}
.ticker .tyard-title a:hover{color:$maincolor}
.tickercontainer,.tickercontainer .mask,ul.newsticker{-webkit-transition:all 0 linear;-moz-transition:all 0 linear;-o-transition:all 0 linear;transition:all 0 linear;list-style:none;margin:0}
.tickercontainer{margin:0;padding:0;overflow:hidden}
.tickercontainer .mask{position:relative;overflow:hidden}
.newsticker{position:relative;list-style-type:none;margin:0;padding:0}
ul.newsticker{-webkit-transition:all 0s linear;-moz-transition:all 0s linear;-o-transition:all 0s linear;transition:all 0s linear;position:relative;list-style-type:none;margin:0;padding:0}
.tickeroverlay-right{display:none}
.tickeroverlay-left{display:none}
.sidebar .widget,.mini-sidebar .widget{margin-bottom:20px;position:relative;clear:both}
.sidebar .widget-title{background:$maindarkcolor;margin:0 0 10px 0;padding:0;position:relative;transition:all .5s ease-out}
.sidebar .widget-title h2{font-size:16px;font-weight:700;text-transform:uppercase;padding:12px 8px;display:inline-block;background:$maincolor;color:#fff;font-family:"neo","Droid Arabic Kufi",Arial,sans-serif}
.sidebar ul,.sidebar li,.mini-sidebar ul,.mini-sidebar li{list-style-type:none;margin:0;padding:0}
.sidebar .LinkList li,.mini-sidebar .LinkList li{padding:0 0 6px 0;margin:0 0 6px 0;text-transform:capitalize}
.menu-tab li a,.sidetabs .section{transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease;-ms-transition:all 0s ease}
.menu-tab{overflow:hidden;clear:both;padding:0;margin:0}
.sidetabs .widget-content{padding:10px 0}
.sidetabs .widget h2{display:none}
.menu-tab li{width:33.33%;float:right;display:inline-block;padding:0}
.menu-tab li a{font-family:'neo',sans-serif;height:32px;text-align:center;padding:0;font-weight:400;display:block;color:#fff;background-color:#192b33;font-size:14px;line-height:32px;letter-spacing:1.5px;text-transform:uppercase}
.menu-tab li.active a{color:#fff;background-color:$maincolor}
.menu-tab li{display:none}
.hide-tab{display:inline-block!important}
#tabside2{margin-bottom:15px}
article{padding:0;overflow:hidden}
.post{display:block;overflow:hidden;word-wrap:break-word}
.index .post,.archive .post{margin:0 0 15px 0}
.post-head h1{color:#000;font-size:32px;font-weight:400;line-height:44px}
.index .post h2,.archive .post h2{margin-bottom:10px;line-height:30px;font-size:24px;font-weight:700}
.post h2 a{color:#1b1d25;letter-spacing:1.3px}
.index .post h2,.archive .post h2{margin:0 0 10px;padding:0;text-transform:capitalize}
.retitle h2{display:block}
.post-body{margin:0;padding:10px;font-size:14px;line-height:26px;box-sizing:border-box}
.widget .post-body ul,.widget .post-body ol{padding-right:15px}
.block-image{float:right;width:auto;height:auto;margin-left:15px;position:relative}
.block-image .thumb{width:auto;height:auto;position:relative;display:block;overflow:hidden}
.block-image .thumb img{width:360px;height:250px;display:block;object-fit:cover;transition:all .3s ease-out!important;-webkit-transition:all .3s ease-out!important;-moz-transition:all .3s ease-out!important;-o-transition:all .3s ease-out!important}
.block-image .thumb > a:before{position:absolute;content:'';width:100%;height:100%;background-color:#000;opacity:0;right:0;top:0;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-ms-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;transition:all 0.35s ease-in-out}
.block-image .thumb:hover > a:before{opacity:0.3}
.date-header-post{color:#bdbdbd;display:block;font-size:12px;font-weight:400;line-height:1.3em;margin:0!important;padding:0}
.date-header-post a{color:#bdbdbd}
.post-head{padding:20px 10px}
.index .post-head,.archive .post-head{padding:0}
#meta-post .fa-calendar-o{margin-right:8px}
.breadcrumbs .fa-angle-left:before{margin:0 5px}
.breadcrumbs{margin:0;font-size:13px;padding:10px 10px;background:#fafafa;border-bottom:1px solid rgba(0,0,0,0.12)}
.breadcrumbs span a.bhome{color:$maincolor}
.breadcrumbs span,.breadcrumbs span a{color:#010101;padding:0 2px}
.breadcrumbs span a:hover{color:$maincolor}
.post-meta{color:#bdbdbd;display:block;font-size:13px;font-weight:400;line-height:21px;margin:0;padding:0 10px}
.post-meta-wrap{padding:10px 0;border-bottom:1px solid rgba(0,0,0,0.12);border-top:1px solid rgba(0,0,0,0.12)}
.post-meta a{color:#CBCBCB}
.post-meta i{color:$maindarkcolor}
.post-timestamp{margin-right:5px}
.label-head{margin-right:5px}
.label-head a{padding-right:2px}
.resumo{margin-top:10px;color:#666666}
.resumo span{display:block;margin-bottom:8px;font-size:12px;line-height:19px;text-align:right}
.post-body img{max-width:100%;padding:10px 0;position:relative;margin:0 auto}
.second-meta{padding:10px 0 0;display:block;overflow:hidden;border-top:3px Solid #eee;font-weight:700;font-size:12px;text-transform:uppercase;line-height:1.5;color:#A0A0A0}
.second-meta .read-more{}
#meta-post{margin-bottom:10px;font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:0.5px;color:#2c2f34}
#meta-post .post-labels{padding:3px 8px;background:$maincolor;color:#fff;font-size:12px;text-transform:uppercase;display:inline-block;z-index:9}
#meta-post .post-labels a{color:#fff;height:auto;width:auto;font-weight:700;font-size:11px}
.comment-link{white-space:normal}
#blog-pager{clear:both;text-align:center;margin:0;font-family:'neo',sans-serif}
.index .pagenavi,.archive .pagenavi{display:inline-block;border:2px solid #151515}
.index .blog-pager,.index #blog-pager{display:block}
.index .blog-pager,.index #blog-pager,.archive .blog-pager,.archive #blog-pager{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;padding:0;text-align:center}
.showpageNum a,.showpage a,#blog-pager-newer-link a,#blog-pager-older-link a{color:$maindarkcolor;font-size:14px;font-weight:700;overflow:hidden;padding:10px 15px;text-decoration:none;float:right}
.item #blog-pager-older-link a{float:none}
.showpageNum:last-child a{border:0}
.showpageNum a:hover,.showpage a:hover,#blog-pager-newer-link a:hover,#blog-pager-older-link a:hover{decoration:none;color:$maincolor}
.showpageOf{color:#151515;font-size:14px;font-weight:700;overflow:hidden;padding:10px 15px;text-decoration:none;float:right}
.showpagePoint{color:#151515;font-size:14px;font-weight:700;overflow:hidden;padding:10px 15px;text-decoration:none;float:right}
#post-pager .blog-pager-older-link:hover,#post-pager .blog-pager-newer-link:hover{color:$maincolor;background:inherit}
#post-pager{clear:both;float:right;display:block;width:100%;box-sizing:border-box;margin:15px 0;padding:10px 10px 0;border-top:1px solid rgba(0,0,0,0.12)}
#post-pager .blog-pager-older-link,#post-pager .blog-pager-newer-link{border:0;text-align:left;background:none;color:$maindarkcolor}
#post-pager .blog-pager-newer-link{border:0;text-align:right}
#post-pager #blog-pager-newer-link,#post-pager #blog-pager-older-link{width:50%}
#post-pager a b{display:block;padding:0 0 5px;font-weight:900;letter-spacing:1px;font-size:13px;color:$maincolor;font-family:'neo',sans-serif;text-transform:uppercase}
#post-pager a span{text-transform:capitalize}
#post-pager .blog-pager-older-link,#post-pager .blog-pager-newer-link{padding:0;display:block}
.item .post-footer .share-box .post-labels{float:right}
.item .post-footer .share-box .post-labels .label-title{color:#fff;padding:3px 8px;font-size:13px;background-color:$maincolor}
.item .post-footer .share-box .post-labels a{color:$textcolor;padding:3px 8px;font-size:13px;background-color:#f8f8f8}
.post-footer .share-box{position:relative;padding:10px 10px;text-align:center;overflow:hidden}
.post-footer .share-title{border-bottom:2px solid #eee;color:#010101;display:inline-block;padding-bottom:7px;font-size:15px;font-weight:500;clear:both;margin:0 0 10px;position:relative;float:right}
.sora-author-box{overflow:hidden;margin:10px 0}
.sora-author-box img{float:right;margin-left:10px;object-fit:cover}
.sora-author-box p{padding:0 10px 10px;-webkit-margin-before:0;-webkit-margin-after:0}
.sora-author-box b{font-weight:700;font-style:normal;letter-spacing:1px;font-size:20px}
.Related-title{padding:0;margin:0 0 20px;position:relative;display:block}
.Related-title:before{position:absolute;content:'';width:100%;height:2px;background-color:$maindarkcolor;top:10px;z-index:0}
.Related-title span{position:relative;display:inline-block;font-size:14px;font-weight:700;text-transform:uppercase;letter-spacing:2px;background-color:#fff;padding:0 10px 0 0;z-index:1;color:#000}
.share-box{position:relative;padding:10px}
.share-title{border-bottom:2px solid #777;color:#010101;display:inline-block;padding-bottom:7px;font-size:15px;font-weight:500;position:relative;top:2px}
.share-art{float:left;padding:0;padding-top:0;font-size:13px;font-weight:400;text-transform:capitalize}
.share-art a{color:#fff;padding:3px 8px;margin-right:4px;border-radius:2px;display:inline-block;margin-left:0;background:#010101}
.share-art a span{}
.share-art a:hover{color:#fff}
.share-art .fac-art{background:#3b5998}
.share-art .fac-art:hover{background:rgba(49,77,145,0.7)}
.share-art .twi-art{background:#00acee}
.share-art .twi-art:hover{background:rgba(7,190,237,0.7)}
.share-art .goo-art{background:#db4a39}
.share-art .goo-art:hover{background:rgba(221,75,56,0.7)}
.share-art .pin-art{background:#CA2127}
.share-art .pin-art:hover{background:rgba(202,33,39,0.7)}
.share-art .lin-art{background:#0077B5}
.share-art .lin-art:hover{background:rgba(0,119,181,0.7)}
.share-art .wat-art{background:#25d266;display:none}
.share-art .wat-art:hover{background:rgba(37,210,102,0.73)}
@media only screen and (max-width:768px){.share-art .wat-art{display:inline-block}}
.comments{clear:both;margin:0;color:#48494d;margin-top:10px;background:#FFF;border:1px solid rgba(0,0,0,0.12);border-top:0}
.comments .comments-content{box-sizing:border-box;padding:10px;border-top:0}
.post-feeds .feed-links{display:none}
iframe.blogger-iframe-colorize,iframe.blogger-comment-from-post{height:260px!important;background:#fff}
.comment-form{overflow:hidden}
.comments h3{line-height:normal;text-transform:uppercase;color:#333;font-weight:bold;margin:0 0 20px 0;font-size:14px;padding:0 0 0 0}
h4#comment-post-message{display:none;margin:0 0 0 0}
.comments h4{color:#fff;background:#f8695f;font-size:16px;padding:12px 10px;margin:0;font-weight:700;letter-spacing:1.5px;text-transform:uppercase;position:relative;text-align:right}
.comments h4:after{display:inline-block;content:"\f075";font-family:fontAwesome;font-style:normal;font-weight:normal;font-size:16px;background-color:#e85e54;color:#fff;top:0;left:0;padding:12px 20px;position:absolute}
.comments .comments-content{font-size:13px}
.comments .comments-content .comment-thread ol{list-style:none;text-align:right;margin:13px 0;padding:0}
.comments .comments-content .comment-thread ol li{list-style:none}
.comments .avatar-image-container{background:#fff;border:1px solid #DDD;overflow:hidden;padding:0;border-radius:50%}
.comments .avatar-image-container img{border-radius:50%}
.comments .comment-block{position:relative;background:#fff;padding:15px;margin-right:60px;border:1px solid #efefef}
.comments .comment-block:before{content:"";width:0;height:0;position:absolute;left:100%;top:14px;border-width:10px;border-style:solid;border-color:transparent #DDD transparent transparent;display:block}
.comments .comments-content .comment-replies{margin:8px 0;margin-right:60px}
.comments .comments-content .comment-thread:empty{display:none}
.comments .comment-replybox-single{background:#f0f0f0;padding:0;margin:8px 0;margin-right:60px}
.comments .comment-replybox-thread{background:#f0f0f0;margin:8px 0 0 0;padding:0}
.comments .comments-content .comment{margin-bottom:6px;padding:0}
.comments .comments-content .comment:first-child{padding:0;margin:0}
.comments .comments-content .comment:last-child{padding:0;margin:0}
.comments .comment-thread.inline-thread .comment,.comments .comment-thread.inline-thread .comment:last-child{margin:0 0 5px 30%}
.comment .comment-thread.inline-thread .comment:nth-child(6){margin:0 0 5px 25%}
.comment .comment-thread.inline-thread .comment:nth-child(5){margin:0 0 5px 20%}
.comment .comment-thread.inline-thread .comment:nth-child(4){margin:0 0 5px 15%}
.comment .comment-thread.inline-thread .comment:nth-child(3){margin:0 0 5px 10%}
.comment .comment-thread.inline-thread .comment:nth-child(2){margin:0 0 5px 5%}
.comment .comment-thread.inline-thread .comment:nth-child(1){margin:0 0 5px 0}
.comments .comments-content .comment-thread{margin:0;padding:0}
.comments .comments-content .inline-thread{background:#fff;padding:15px;box-sizing:border-box;margin:0}
.comments .comments-content .inline-thread .comment-block{border-color:$maincolor}
.comments .comments-content .inline-thread .comment-block:before{border-color:transparent $maincolor transparent transparent}
.comments .comments-content .user{font-family:"neo","Droid Arabic Kufi",Arial,sans-serif;letter-spacing:0.5px;font-weight:600}
.comments .comments-content .icon.blog-author{display:inline}
.comments .comments-content .icon.blog-author:after{content:"المشرف";background:$maincolor;font-family:"neo","Droid Arabic Kufi",Arial,sans-serif;color:#fff;font-size:11px;padding:2px 5px;text-transform:Capitalize;font-style:italic;letter-spacing:0.3px}
.comment-header{text-transform:uppercase;font-size:12px}
.comments .comments-content .datetime{margin-right:6px}
.comments .comments-content .datetime a{color:#888}
.comments .comment .comment-actions a{display:inline-block;color:#333;font-weight:bold;font-size:10px;line-height:15px;margin:4px 8px 0 0}
.comments .continue a{color:#333;display:inline-block;font-size:10px}
.comments .comment .comment-actions a:hover,.comments .continue a:hover{text-decoration:underline}
#related-posts{}
h4.related-title{font-size:14px;margin:0 0 10px 0;background:#4f93c5;color:#fff;padding:15px 20px;font-weight:700;position:relative;text-align:right;text-transform:uppercase;overflow:hidden}
#related-posts ul.related{padding:0 10px}
.related li{display:block;overflow:hidden;position:relative}
.related li h3{margin-bottom:5px}
.related-thumb{width:90px;height:70px;overflow:hidden;position:relative;vertical-align:middle;float:right;margin:0 0 0 10px}
.related li .related-img{width:90px;height:70px;display:block;transition:all .3s ease-out!important;-webkit-transition:all .3s ease-out!important;-moz-transition:all .3s ease-out!important;-o-transition:all .3s ease-out!important}
.related li .related-img:hover{-webkit-transform:scale(1.1) rotate(-1.5deg)!important;-moz-transform:scale(1.1) rotate(-1.5deg)!important;transform:scale(1.1) rotate(-1.5deg)!important;transition:all .3s ease-out!important;-webkit-transition:all .3s ease-out!important;-moz-transition:all .3s ease-out!important;-o-transition:all .3s ease-out!important}
.related-title a{font-size:15px;line-height:1.4em;padding:0;font-family:'neo',sans-serif;font-weight:700;font-style:normal;letter-spacing:0.5px;color:#151515;display:block}
.recent-summary{color:#666;font-size:13px;letter-spacing:0.3px;line-height:1.6}
.related .related-tag{display:none}
.related-overlay{position:absolute;right:0;top:0;z-index:1;width:100%;height:100%;background-color:rgba(40,35,40,0.05)}
.related-content{display:block;bottom:0;padding:0 0 11px;width:100%;line-height:1.2em;box-sizing:border-box;z-index:2}
.related .related-content .recent-date{display:none}
.recent-date:before,.p-date:before{content:'\f017';font-family:fontawesome;margin-left:5px}
#lower{margin:auto;padding:0 0 10px 0;width:100%;background:#19232d}
#lower-wrapper{margin:auto;padding:20px 0 20px 0}
#lowerbar-wrapper{float:right;margin:0 5px auto;padding-bottom:20px;width:32%;text-align:justify;color:#ddd;line-height:1.6em;word-wrap:break-word;overflow:hidden;max-width:375px}
.lowerbar{margin:0;padding:0}
.lowerbar .widget{margin:0;padding:10px 20px 0 20px;box-sizing:border-box;clear:both}
.lowerbar .widget .widget-title{margin:0 0 10px 0;padding:0;position:relative;border-bottom:1px solid #ddd;transition:all .5s ease-out}
.lowerbar h2{padding:12px 0;display:inline-block;color:#fff;font-size:16px;letter-spacing:0.5px;font-weight:700;text-transform:uppercase}
.lowerbar ul{margin:0 auto;padding:0;list-style-type:none}
.lowerbar li{display:block;line-height:1.6em;margin-right:0!important;list-style-type:none}
.lowerbar li a{text-decoration:none;color:#DBDBDB}
.lowerbar li a:hover{}
.lowerbar li:hover{}
.lowerbar .PopularPosts ul li a,.lowerbar,.lowerbar .ty-bonus .ty-bonos-entry a,.lowerbar .tyard-komet a{color:#fff}
.lowerbar .PopularPosts .widget-content ul li{border-bottom:1px solid rgb(51,51,51);border-top:0}
.lowerbar .ty-bonus .ty-wow{border-bottom:1px solid rgb(51,51,51);border-top:0}
.lowerbar .PopularPosts .widget-content ul li:last-child{border:0}
.lowerbar .widget-content{padding:10px 0}
.lowerbar .list-label-widget-content li a{color:#fff}
.lowerbar .list-label-widget-content li{border-bottom:1px solid rgb(51,51,51);border-top:0}
.lowerbar .list-label-widget-content li:last-child{border:0}
.contact-form-name,.contact-form-email,.contact-form-email-message,.contact-form-widget{max-width:none}
.contact-form-name,.contact-form-email,.contact-form-email-message{background-color:#EBEBEB;border:1px solid #ccc}
.contact-form-widget .form{}
.contact-form-button-submit{max-width:none;width:100%;height:35px;border:0;background-image:none;background-color:$maincolor!important;cursor:pointer;font-style:normal;font-weight:400;margin-top:10px}
.contact-form-name:focus,.contact-form-email:focus,.contact-form-email-message:focus{border:0;box-shadow:none}
.contact-form-name:hover,.contact-form-email:hover,.contact-form-email-message:hover{border:0}
.contact-form-button-submit:hover{background-color:#2de09f;background-image:none;border:0}
#jugas_footer{background:#111;color:#BABABA;font-family:'neo',sans-serif;font-weight:400;padding:20px 0}
.copy-container{margin:0 auto;overflow:hidden}
.jugas_footer_copyleft a{color:#f4f4f4}
.jugas_footer_copyleft{text-align:right;display:inline-block;line-height:30px}
select#BlogArchive1_ArchiveMenu{width:100%;padding:10px;border-color:#777}
.ty-bonus .ty-wow{overflow:hidden;border-bottom:1px solid #F5F5F5;padding:10px 0}
.ty-bonus .ty-wow:first-child{padding-top:0}
.ty-bonus .ty-wow:last-child{border-bottom:none}
.ty-bonus .ty-thumb-bonos{position:relative;float:right;margin:0!important;width:80px;height:60px;overflow:hidden;display:block;vertical-align:middle}
.ty-bonus .ty-bonus-con{padding-right:10px;display:table-cell}
.ty-bonus .ty-bonos-entry{overflow:hidden;line-height:0;margin:0 0 2px;padding:0}
.ty-bonus .ty-bonos-entry a{color:$maindarkcolor;font-weight:400;font-size:14px;line-height:1.5em}
.ty-bonus .ty-bonos-entry a:hover{color:$maincolor}
.ty-bonus .ty-thumb-bonos:hover .tyimg-lay{background-color:rgba(40,35,40,0.3)}
.yard-auth-ty{margin-left:10px}
.yard-auth-ty::before{content:'\f007';font-family:fontawesome;color:#bbb;margin-left:5px}
.yard-auth-ty,.ty-time{color:#bdbdbd;font-size:12px;font-weight:400}
.ty-time:before{content:'\f133';font-family:fontawesome;color:#bbb;margin-left:5px}
.sidebar .PopularPosts .widget-content ul li:first-child,.sidebar .ty-bonus .ty-wow:first-child{padding-top:0;border-top:0}
.sidebar .PopularPosts .widget-content ul li:last-child,.sidebar .ty-bonus .ty-wow:last-child{padding-bottom:0}
.tyard-komet .ty-komet .ty-komet-tar{position:relative;overflow:hidden;padding:0;width:55px;height:55px;float:right;margin:0 10px 0 0}
.tyard-komet .ty-komet{background:none!important;clear:both;list-style:none;word-break:break-all;display:block;border-top:1px solid #F5F5F5;border-bottom:0!important;overflow:hidden;margin:0;padding:10px 0}
.tyard-komet .ty-komet:first-child{padding-top:0;border-top:0}
.tyard-komet .ty-komet:last-child{padding-bottom:0}
.tyard-komet .ty-komet span{color:#bdbdbd;display:block;line-height:1.2em;text-transform:lowercase;font-size:12px;font-style:italic;font-weight:400;overflow:hidden;background:#f9f9f9;height:38px;margin-top:5px;box-sizing:border-box;padding:5px 8px}
.yardimg-komet{width:55px;height:55px;float:right;margin:0 10px 0 0}
.tyard-komet a{color:$darkcolor;position:relative;font-size:13px;text-transform:capitalize;display:block;overflow:hidden;font-weight:400}
.tyard-komet a:hover{color:$maincolor}
.tyard-komet{list-style:none;padding:0}
.sidebar .PopularPosts .widget-content ul li:first-child,#sidetabs .PopularPosts .widget-content ul li:first-child{padding-top:0;border-top:0}
.sidebar .PopularPosts .widget-content ul li:last-child,.sidebar .ty-bonus .ty-wow:last-child,.tab-widget .PopularPosts .widget-content ul li:last-child,.tab-widget .ty-bonus .ty-wow:last-child{padding-bottom:0}
.sidebar .FollowByEmail > h3.title,.sidebar .FollowByEmail .title-wrap{margin-bottom:0}
.FollowByEmail td{width:100%;float:right;box-sizing:border-box}
.FollowByEmail .follow-by-email-inner .follow-by-email-submit{margin-right:0;width:100%;border-radius:0;height:30px;font-size:11px;color:#fff;background-color:$maincolor;font-family:inherit;text-transform:uppercase;font-weight:700;letter-spacing:1px}
.FollowByEmail .follow-by-email-inner .follow-by-email-submit:hover{opacity:0.8}
.FollowByEmail .follow-by-email-inner .follow-by-email-address{padding-right:10px;height:30px;border:1px solid #FFF;margin-bottom:5px;box-sizing:border-box;font-size:11px;font-family:inherit}
.FollowByEmail .follow-by-email-inner .follow-by-email-address:focus{border:1px solid #FFF}
.FollowByEmail .widget-content{background-color:$maindarkcolor;box-sizing:border-box;padding:10px}
.FollowByEmail .widget-content:before{content:"ضع بريدك الالكتروني ليصلك كل ما هو جديد على مدونتا";font-size:11px;color:#f2f2f2;line-height:1.4em;margin-bottom:5px;display:block;padding:0 2px}
.list-label-widget-content li{display:block;padding:8px 0;border-bottom:1px solid #f2f2f2;position:relative}
.list-label-widget-content li:first-child{padding:0 0 8px}
.list-label-widget-content li:last-child{padding-bottom:0;border-bottom:0}
.list-label-widget-content li a:before{content:'\f02c';font-size:13px;color:$maindarkcolor;font-family:fontawesome;margin-left:5px}
.lowerbar .list-label-widget-content li a:before{color:$maincolor}
.list-label-widget-content li a{color:$maindarkcolor;font-size:11px;font-weight:700;text-transform:uppercase;transition:color .3s}
.list-label-widget-content li a:hover{color:$maincolor}
.list-label-widget-content li span:last-child{color:$maindarkcolor;font-size:11px;font-weight:700;position:absolute;top:8px;left:0}
.list-label-widget-content li:first-child span:last-child{top:2px}
.cloud-label-widget-content{text-align:right}
.cloud-label-widget-content .label-count{background:$maincolor;color:#fff!important;margin-right:-3px;white-space:nowrap;border-radius:0;padding:1px 4px!important;font-size:12px!important;margin-left:5px;transition:background .3s}
.cloud-label-widget-content .label-size{background:#f5f5f5;display:block;float:right;font-size:11px;margin:0 5px 5px 0;transition:background .3s}
.cloud-label-widget-content .label-size a,.cloud-label-widget-content .label-size span{height:18px!important;color:$maindarkcolor;display:inline-block;font-size:11px;font-weight:700!important;text-transform:uppercase;padding:6px 8px;transition:color .3s}
.cloud-label-widget-content .label-size a{padding:6px 10px}
.cloud-label-widget-content .label-size a:hover{color:#fff!important}
.cloud-label-widget-content .label-size,.cloud-label-widget-content .label-count{height:30px!important;line-height:19px!important}
.cloud-label-widget-content .label-size:hover{background:$maincolor;color:#fff!important}
.cloud-label-widget-content .label-size:hover a{color:#fff!important}
.cloud-label-widget-content .label-size:hover span{background:$maindarkcolor;color:#fff!important;cursor:pointer}
.cloud-label-widget-content .label-size-1,.label-size-2,.label-size-3,.label-size-4,.label-size-5{font-size:100%;opacity:10}
.label-size-1,.label-size-2{opacity:100}
#ads-blog .widget{width:728px;max-height:90px;padding:0;margin:0 auto 15px!important;max-width:100%;box-sizing:border-box}
#ads-blog-bottom .widget{width:728px;max-height:90px;padding:0;margin:0 auto 15px!important;max-width:100%;box-sizing:border-box}
#ads-blog-content{margin:0 auto}
#ads-blog-content .widget{margin:15px auto 0!important;display:block!important;width:100%;max-height:100%;padding:0;max-width:100%;box-sizing:border-box}
.ads-blog-post-top,.ads-blog-post-bottom{display:none;visibility:hidden}
.PopularPosts .widget-content ul li:first-child{border-top:0}
.PopularPosts .item-thumbnail{margin:0 0 0 15px!important;width:80px;height:60px;float:right;overflow:hidden;position:relative}
.PopularPosts .item-thumbnail a{position:relative;display:block;overflow:hidden;line-height:0}
.PopularPosts ul li img{width:90px;height:65px;object-fit:cover;padding:0;transition:all .3s ease}
.PopularPosts .widget-content ul li{overflow:hidden;padding:10px 0;border-top:1px solid #f2f2f2}
.sidebar .PopularPosts .widget-content ul li:first-child,.sidebar .custom-widget li:first-child,.tab-widget .PopularPosts .widget-content ul li:first-child,.tab-widget .custom-widget li:first-child{padding-top:0;border-top:0}
.sidebar .PopularPosts .widget-content ul li:last-child,.sidebar .custom-widget li:last-child,.tab-widget .PopularPosts .widget-content ul li:last-child,.tab-widget .custom-widget li:last-child{padding-bottom:0}
.PopularPosts ul li a{color:#333333;font-weight:400;font-size:14px;line-height:1.4em;transition:color .3s;font-family:'neo',sans-serif}
.PopularPosts ul li a:hover{color:$maincolor}
.PopularPosts .item-title{margin:0 0 4px;padding:0;line-height:0}
.item-snippet{display:none;font-size:0;padding-top:0}
.PopularPosts ul{counter-reset:popularcount;margin:0;padding:0}
.PopularPosts .item-thumbnail::before{background:rgba(0,0,0,0.3);bottom:0;content:"";height:100px;width:100px;right:0;left:0;margin:0 auto;position:absolute;z-index:3}
@media only screen and (max-width:1150px){.row{width:96%!important;margin:0 auto;float:none}.headerleft,.headerright{float:none;width:100%;text-align:center;height:auto;margin:0 auto;clear:both}.headerright img{margin:auto;padding-bottom:15px}.headerleft{margin:10px auto 0}.headerright .description{text-align:center}}
@media only screen and (max-width:1050px){#outer-wrapper{margin:0 auto}}
@media only screen and (max-width:980px){#main-wrapper,#sidebar-wrapper{float:none;clear:both;width:100%;margin:0 auto}.post-body{padding:8px}#main-wrapper{max-width:100%}#sidebar-wrapper{padding-top:20px}#lowerbar-wrapper{width:100%;max-width:375px;margin:0 auto;float:none;clear:both}.overlay a{float:left;margin:30px 0}.overlay h3{float:right}}
@media screen and (max-width:880px){#nav1,#nav{display:none}.home #header-wrapper{margin-bottom:10px}#nav{display:none}.selectnav{width:auto;color:$maindarkcolor;background:#f4f4f4;border:1px solid rgba(255,255,255,0.1);position:relative;border:0;padding:6px 10px!important;margin:5px 0}.selectnav{display:block;width:100%;max-width:200px}.tm-menu .selectnav{display:inline-block;margin:10px 0 0 10px}#menu{text-align:right}.item #content-wrapper{padding:10px 0 30px}#label_with_thumbs li{width:100%;clear:both;float:none;margin-bottom:10px}}
@media only screen and (max-width:768px){#post-pager #blog-pager-newer-link{margin:0 auto 10px}#post-pager #blog-pager-older-link,#post-pager #blog-pager-newer-link{float:none;clear:both;margin:0 auto;display:block;width:100%}.share-art span{display:none}.ops-404{width:80%!important}.title-404{font-size:160px!important}.overlay{display:none;visibility:hidden}.post-labels{margin-bottom:10px}}
@media screen and (max-width:680px){}@media only screen and (max-width:480px){.block-image,.block-image .thumb img{float:none;margin:0 auto;clear:both;width:100%;height:auto}.block-image{margin-bottom:10px}.ticker .title,.ticker .tk-thumb{display:none}.item .post-footer .share-box .post-labels{float:none}.post-footer .share-title{display:block;text-align:center;float:none}.post-footer .share-art{float:none;margin-top:10px}#header-inner{max-width:100%}.index .post h2,.archive .post h2{line-height:1.4em;font-size:19px}.jugas_footer_copyleft{text-align:center;display:block;clear:both}.top-bar-social,.bottom-bar-social{float:none;width:100%;clear:both;overflow:hidden}.top-bar-menu{float:none;width:100%;clear:both;margin-top:0;margin-bottom:10px;text-align:center}.top-bar-menu .selectnav{display:inline-block}.top-bar-social li,.bottom-bar-social li{display:inline-block;float:none}.top-bar-social #social a,.bottom-bar-social #social a{width:20px;height:20px;line-height:20px;font-size:9px}.top-bar-menu .selectnav{width:100%}h1.post-title{font-size:22px;margin-bottom:10px;line-height:1.4em}.breadcrumbs{display:none}#sidebar-wrapper{max-width:100%}.about-widget-image{overflow:hidden}.share-art{float:none;margin:0 auto;text-align:center;clear:both}.share-title{display:none}.blog-pager-newer-link .pager-title,.blog-pager-newer-link .pager-heading,.blog-pager-older-link .pager-title,.blog-pager-older-link .pager-heading{display:none}.blog-pager-older-link .post-nav-icon,.blog-pager-newer-link .post-nav-icon{line-height:40px;width:100%}}
@media only screen and (max-width:360px){#header-inner img{max-width:100%;margin:0 auto;float:none;height:auto}#meta-post{position:relative;overflow:hidden;display:block;border-bottom:1px solid #f2f2f2}#meta-post:after{display:none}.index .post h2,.archive .post h2{font-size:16px}.share-art{float:none;clear:both;margin:0 auto;text-align:center}}
@media only screen and (max-width:300px){#sidebar-wrapper{display:none}.top-bar-menu,.selectnav{width:100%}.ty-ran-yard{display:none}#menu{text-align:center;padding:0}.archive .post h2,.index .post h2{line-height:1.4em!important;font-size:14px!important}.index .snippets,.archive .snippets,.sora-author-box img,.share-box .post-author{display:none}.share-art,.share-box .post-author{float:none;margin:0 auto;text-align:center;clear:both}.read-more-wrap,.post-labels{float:none!important;clear:both;display:block;text-align:center}.ops-404{font-size:18px!important}.title-404{font-size:110px!important}h1.post-title{font-size:17px}.share-box{overflow:hidden}.top-bar-social #social a{width:24px;height:24px;line-height:24px}}
=========================================================================================================================================================
سياسة الخصوصية
.copyright a{color:#ff8400}
.copyleft{float:left;margin-left:10px;color:#595959;font-family:Web-Ponto}
.copyleft a{color:#ff8400}
.btnfooter{float:left;margin-right:10px;text-align:center}
.btnfooter a{color:#315270;margin-right:5px;border:1px solid #315270;padding:0 8px;font-size:15px;display:inline-block;height:40px}
.btnfooter a:hover{color:#fff;background:#315270}
========================================================================================================================================================
